# Project exclude paths
/.gradle/
/Problems/Assignments/out/
/Problems/Assignments/out/production/classes/
/Problems/Collatz conjecture/out/
/Problems/Collatz conjecture/out/production/classes/
/Problems/Good rest on vacation/out/
/Problems/Good rest on vacation/out/production/classes/
/Problems/Grades/out/
/Problems/Grades/out/production/classes/
/Problems/Guest list of a hotel/out/
/Problems/Guest list of a hotel/out/production/classes/
/Problems/Printing each word in a new line/out/
/Problems/Printing each word in a new line/out/production/classes/
/Problems/Replacing 'a' with 'b'/out/
/Problems/Replacing 'a' with 'b'/out/production/classes/
/Problems/Snail/out/
/Problems/Snail/out/production/classes/
/Problems/Symmetrical number/out/
/Problems/Symmetrical number/out/production/classes/
/Problems/The count of numbers divisible by N/out/
/Problems/The count of numbers divisible by N/out/production/classes/
/Problems/The product of numbers from a to b/out/
/Problems/The product of numbers from a to b/out/production/classes/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/